/* You can add global styles to this file, and also import other style files */
.customInput1 {
  border: 5px dotted red;
}

.customInput2 {
  border: 2px solid blue
}

.customInput3 {
  border: 2px dashed grey
}
